header {
  background-color: var(--color-text);
  color: #fff;
  height: 80px;

  button {
    color: #fff !important;
    height: 80px !important;
  }

  .pure-g > div:last-child {
    line-height: 80px;
  }

  .container { padding: 0 2em; }
  .logo {
    height: 60px;
    margin-top: 10px;
  }
}