[data-page="home"] {
  header {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    a, button {
      text-shadow: 1px 1px 2px #666;
    }
  }

  .bg-container {
    background: url('/images/bg.jpg') no-repeat top center;
    background-size: cover;
    color: #fff;
    height: 800px;
    height: 100vh;
    padding-top: 80px;
    position: relative;
    text-align: center;

    &[data-img="2"] {
      background-image: url('/images/bg2.jpg');
    }

    h1 {
      margin: 0;
      text-shadow: 1px 1px 3px #333;
    }

    .absolute-center {
      left: inherit;
      margin-top: 100px;
      position: relative;
      top: inherit;
      transform: none;
    }

    .subtitle {
      font-size: 26px;
      margin: 0;
      text-shadow: 1px 1px 2px #333;
    }

    .search-bar {
      background: rgba(0,0,0, 0.2);
      border: 1px solid #ccc;
      display: inline-block;
      margin-top: 20px;
      padding: 15px 30px;

      & > * {
        display: inline-block !important;

        &:last-child button {
          height: 48px !important;
          line-height: 48px !important;

          & > div > div {
            height: 48px !important;
          }
        }
      }

      .input-container {
        background-color: #fff;
        padding: 0 20px;

        & > div > div > *:last-child {
          transform: translate3D(-20px, 8px, 0);
          width: calc(100% + 40px);
        }
      }
    }
  }
}