*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--base-size);
  font-family: var(--font-family);
  height: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: var(--font-family);
}

body {
  height: 100%;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;

  li { margin: 0 0 5px 0; }
}

.container {
  padding: 1em 2em;
  width: 100%;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 30px;
}

.l-box {
  padding: 1em;
}
