:root {
  --base-size: 16px;
  --color-primary: #2979FF; /* blueA400 */
  --color-secondary: #64DD17; /* lightGreenA700 */
  --color-text: #333;
  --font-family: 'Montserrat', sans-serif;
  /* --font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */

  @custom-media --mobile-viewport (max-width: 767px);
  @custom-media --tablet-viewport (min-width: 768px);
}
